.pydevproject
.tags_sorted_by_file
/db
/config/ssl/*
.git/
.tags
.codeintel/
.idea/
/files
/logs
.hgignore
*.py[co]
/base/.sass-cache
.ve
database.sqlite3
.sass-cache/
/whoosh
/cache
celerybeat-schedule
/xapian
.settings
*~
thumbs/
!/config/ssl
*.coffee
*.pid
*.sublime*
.project
!files/default/
/build
/environ
/node_modules
tags
secret_key.py
.hg/
*.log
/config/mode.cfg