<ul class="socialcount socialcount-small recommend js grade-a activate-on-hover" data-url="http://www.google.com/" data-facebook-action="recommend">
    <li class="title text-right">Social Networks</li>
    <li class="twitter text-right">
        <a href="https://twitter.com/intent/tweet?text={{ Site.domain }}" title="Share on Twitter">twitter</a></li>
    <li class="googleplus text-right">
        <a href="https://plus.google.com/share?url={{ Site.domain }}" title="Share on Google Plus">google plus</a></li>
</ul>