{% extends "account/base.html" %}
{% load url from future %}
{% load i18n %}

{% block html-title %}{{ block.super }} {% trans "Set your new password" %}{% endblock %}
{% block page-title %}{% trans "Set your new password" %}{% endblock %}
{% block body-class %}account-page password-reset-page password-reset-token{% endblock %}

{% block page-content %}
<form method="POST" action="{% url 'account_password_reset_token' uidb36=uidb36 token=token %}">
    {% csrf_token %}
    {% include "forms/generic-inline-form.html" %}
     <button type="submit" class="button">{% trans "Save" %}</button>
</form>
{% endblock %}