{% extends "account/base.html" %}
{% load url from future %}
{% load i18n %}

{% block html-title %}{{ block.super }} {% trans 'Settings' %}{% endblock %}
{% block page-title %}{% trans 'Settings' %}{% endblock %}
{% block body-class %}account-page account-settings{% endblock %}

{% block page-content %}
        <form method="POST" action="{% url 'account_settings' %}">
            {% csrf_token %}
            {% include "forms/generic-simple-form.html" %}
            <div class="form-actions">
                <button class="button" type="submit">Save</button>
            </div>
        </form>
{% endblock %}